body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

.top-nav li {
    float: left;
}

.top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 10px;
    text-decoration: none;
    font-size: 16px;
}

.top-nav li a:hover:not(.logo) {
    background-color: black;
    color: darkorange;
}

#logo {
    padding: 0px;
    height: 80px;
    background-color: transparent;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

@media only screen and (min-width: 300px) {
    .top-nav li {width: 100%;}
    .top-nav li a {padding: 15px 10px;}
    #acces-car-img {margin: 0px;}
    #acces-text {
        text-indent: 50px;
        margin: 0px 20px 10px 20px;
        text-align: justify;
    }
}

@media only screen and (min-width: 600px) {
    .top-nav li {width: 50%;}
    .top-nav li a {padding: 15px 10px;}
    #acces-car-img {
        float: left;
        margin: 0px 40px 30px 60px;
    }
    #acces-text {
        margin-right: 120px;
    }
}

@media only screen and (min-width: 900px) {
    .top-nav li {width: inherit;}
    #logo {margin-left: 0px;
           margin-right: 0px;
    }
    .top-nav li a {padding: 30px 10px;} 
}

@media only screen and (min-width: 1024px) {
    .top-nav li {width: inherit;}
    #logo {margin-left: 0px;
           margin-right: 120px;
    } 
}

@media only screen and (min-width: 1200px) {
    #logo {margin-left: 100px;
           margin-right: 230px;
    } 
}

#acces-car {
    text-indent: 100px;
}

#acces-tab {
    overflow-x: auto;
    clear: both;
}

table {
    margin: 0px auto;
    max-width: 1000px;
    border-collapse: collapse;
}

td > img {
    width: 200px;
    height: 200px;
}

td {
    border-top: 1px solid black;
    padding: 10px;
    vertical-align: top;
}

td:last-child {
    text-align: center;
    width: 90px;
}

td:nth-last-child(2) {
    width: 140px;
    text-align: center;
}

/*----- Footer -----*/
footer {
    margin-top: 30px;
}

.footer-line {
    width: 95%;
    height: 2px;
    background-color: #262626;
    margin: 0 auto;
}

#icon {
    list-style-type: none;
    color: gray;
}

#icon li {
    float: left;
    padding: 0px 10px 30px 0px;
}

.footer-map {
    text-align: right;
    padding-right: 40px;
    margin-top: 15px;
}

.footer-map a {
    color: black;
    text-decoration: none;
}

.footer-map a:hover {
    text-decoration: underline;
}
