<!DOCTYPE html>
<html>
    <head lang="uk-UA">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chevrolet Accessories</title>
        <link rel="stylesheet" href="accessories.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    </head>
    <body data-ng-app="carApp" data-ng-controller="carCtrl">
        <header>
            <nav>
                <ul class="top-nav">
                    <li><a href="index.html" id="logo"><img src="images/Chevrolet-logo2.png" alt="Chevrolet - Find new roads" /></a></li>
                    <li><a href="all_cars.html">Модельний ряд</a></li>
                    <li><a href="accessories.html">Аксесуари</a></li>
                    <li><a href="#service">Сервіс та запчастини</a></li>
                    <li><a href="#drive">Тест-драйв</a></li>
                    <li><a href="#about">Про Chevrolet</a></li>
                    <li><a href="contacts.html">Контакти</a></li>
                </ul>
            </nav>
        </header>

        <h2 id="acces-car">Аксесуари Chevrolet <span id="model-name"></span></h2>

        <img src="images/models/Chevrolet-icon.png" id="acces-car-img" alt="" />

        <p id="acces-text">
            Надайте індивідуальності Вашому Chevrolet за допомогою оригінальних аксесуарів, розроблених
            спеціально для Вашого автомобіля. Вони створені відповідно до найвищих стандартів, що гарантує
            неперевершену якість, до якої Ви звикли. Створіть власний стиль, вибравши оригінальний
            аксесуар в галереї Chevrolet.
        </p>

        <form>
            Вибрати модель:
            <select id="select-model" data-ng-model="modSel">
                <option value=""></option>
                <option value="Spark">Spark</option>
                <option value="Sonic hatch">Sonic</option>
            </select>
        </form>

        <div id="acces-tab" data-ng-switch="modSel">
            <div data-ng-switch-when="Spark">
                <table>
                    <tr data-ng-repeat="x in spark">
                        <td><img data-ng-src="{{ x.image }}"></td>
                        <td><b>{{ x.header }}</b><p>{{ x.description }}</p></td>
                        <td>{{ x.art_num }}</td>
                        <td>{{ x.price | currency }}</td>
                    </tr>
                </table>
            </div>
            <div data-ng-switch-when="Sonic hatch">
                <table>
                    <tr data-ng-repeat="x in sonic">
                        <td><img data-ng-src="{{ x.image }}"></td>
                        <td><b>{{ x.header }}</b><p>{{ x.description }}</p></td>
                        <td>{{ x.art_num }}</td>
                        <td>{{ x.price | currency }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <footer>
            <div class="footer-line"></div>
            <ul id="icon">
                <li>
                    Ми у соцмережах
                </li>
                <li>
                    <a href="#facebook">
                        <img src="images/icons/Facebook.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a href="#twitter">
                        <img src="images/icons/Twitter.png" alt="twitter" />
                    </a>
                </li>
                <li>
                    <a href="#youtube">
                        <img src="images/icons/Youtube.png" alt="youtube" />
                    </a>
                </li>
                <li>
                    <a href="#pinterest">
                        <img src="images/icons/Pinterest.png" alt="pinterest" />
                    </a>
                </li>
                <li>
                    <a href="#google">
                        <img src="images/icons/Google.png" alt="google_plus" />
                    </a>
                </li>
            </ul>
            <div class="footer-map">
                <a href="">Мапа сайту</a>
            </div>  
        </footer>
        <script src="accessoriesCtrl.js"></script>  
    </body>
</html>