body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

.top-nav li {
    float: left;
}

.top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 10px;
    text-decoration: none;
    font-size: 16px;
}

.top-nav li a:hover:not(.logo) {
    background-color: black;
    color: darkorange;
}

#logo {
    padding: 0px;
    height: 80px;
    background-color: transparent;
}

@media only screen and (min-width: 300px) {
    .top-nav li {width: 100%;}
    .top-nav li a {padding: 15px 10px;}
}

@media only screen and (min-width: 600px) {
    .top-nav li {width: 50%;}
    .top-nav li a {padding: 15px 10px;}
}

@media only screen and (min-width: 900px) {
    .top-nav li {width: inherit;}
    #logo {margin-left: 0px;
           margin-right: 0px;
    }
    .top-nav li a {padding: 30px 10px;}
    .col-4 {width: 33.33%;}
}

@media only screen and (min-width: 1024px) {
    .top-nav li {width: inherit;}
    #logo {margin-left: 0px;
           margin-right: 120px;
    } 
}

@media only screen and (min-width: 1200px) {
    #logo {margin-left: 100px;
           margin-right: 230px; 
    } 
}

section {
    padding: 0px 40px;
    max-width: 960px;
    margin: 0px auto;
}

.contacts {
    line-height: 140%;
}

.col-4 {
    float: left;
}

.contacts img {
    width: 100%;
    height: auto;
    padding-top: 40px;
}

#map {
    width: 100%;
    height: 500px;
    clear: both;
}

/*----- Footer -----*/
footer {
    margin-top: 30px;
}

.footer-line {
    width: 95%;
    height: 2px;
    background-color: #262626;
    margin: 0 auto;
}

#icon {
    list-style-type: none;
    color: gray;
}

#icon li {
    float: left;
    padding: 0px 10px 30px 0px;
}

.footer-map {
    text-align: right;
    padding-right: 40px;
    margin-top: 15px;
}

.footer-map a {
    color: black;
    text-decoration: none;
}

.footer-map a:hover {
    text-decoration: underline;
}
