body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/*------------- header -------------*/
.top-nav {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

.logo {
    float: left;
    margin: 0px 0px 0px 90px;
}

.logo img {
    display: block;
    height: 80px;
}

.top-nav-list-responsive {
    display: block;
}

.top-nav-list {
    float: right;
}

.top-nav-list li {
    float: left;
}

.top-nav-list li:last-child {
    margin-right: 30px;
}

.nav-link {
    display: block;
    color: white;
    padding: 0px 10px;
    line-height: 80px;
}

.nav-link:hover {
    background-color: black;
    color: darkorange;
}

.top-menu-icon-wrapper {
    display: none;
    border: 1px solid #413F3F;
    margin: 12px;
}

.top-menu-icon {
    border-bottom: 13px double white;
    border-top: 4px solid white;
    height: 5px;
    width: 30px;
    margin: 15px 10px;
}

.top-menu-icon-wrapper:hover {
    cursor: pointer;
    background-color: black;
}
/*------------- end header -------------*/

.bg-image {
    width: 100%; 
    position: absolute;
    top: 0px;
}

.bg-image img {
    width: 100%;
    display: block; 
}

.bg-image::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}

.bg-image img {
    width: 100%;
    display: block; 
}

/*----- Tabs -----*/
.tab-wrapper {
    position: relative;
    margin-top: 220px;
}

.tab-links {
    padding: 0px 30px 0px 30px;
    margin: 0px;
}

.tab-links li {
    float: left;
    width: 20%;
    text-align: center;
}

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links a {
    padding: 9px 0px;
    display: inline-block;
    background-color: rgba(81, 79, 79, 0.75);
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: all linear 0.15s;
    width: 100%;
    text-decoration: none;
}

.tab-links a:hover {
    background-color: #3c3c3c;
    color: white;
    text-decoration: none;
}

.tab-links li.active a, .tab-links li.active a:hover {
    background-color: black;
    color: darkorange;
}

.tab-content-wrapper {
    padding: 15px;
    background-color: white;
    max-width: 100%;
    margin: 0px 30px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-description-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-indent: 40px;
    margin-bottom: 26px;
}

.tab-description-text {
    text-align: justify;
    text-indent: 40px;
}

.tab-content-interior, .tab-content-exterior {
    text-align: center;
}

.tab-content-interior img, .tab-content-exterior img {
    max-width: 100%;
    height: auto;
}

.tab-content-specification {
    overflow-x: auto;
}

.video-wrapper {
    width: 50%;
    float: right;
    padding: 0px 0px 15px 30px;
}

.main-video {
    width: 100%;
    height: auto;
}

.cc-license {
    font-size: 12px;
    color: gray;
}

.specification-table {
    position: relative;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

.spec-table-col-width {
    width: 50%;
}

.spec-sonic td {
    border-right: 2px solid #514F4F;
}

.specification-table td:first-child {
    border-left: none;
    text-align: left;
}

.specification-table th:last-child, .specification-table td:last-child {
    border-right: none;
}

.specification-table tr:nth-child(odd) {
    background-color: #dedfdf;
}

.specification-table th {
    background-color: #514F4F;
    color: white;
    padding: 10px;
    border-right: 2px solid white;
    line-height: 16px;
}

.specification-model-powertrain {
    font-size: 12px;
}

.specification-table td {
    text-align: center;
    padding: 5px;
    border-left: 2px solid white;
}

.specification-table tr:first-child {
    border-bottom: 5px solid white;
}

.interior-header, .exterior-header, .safety-header, .other-header, .warr-header {
    cursor: pointer;
    border-bottom: 1px solid white;
}

.minus-button {
    width: 28px;
    height: 20px;
    background-color: white;
    position: absolute;
}

.minus-button::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 12px;
    background-color: #514F4F;
    top: 9px;
    left: 8px;
}

.plus-button::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 2px;
    background-color: #514F4F;
    left: 13px;
    top: 4px;
}

/*------------- footer -------------*/
.footer {
    position: relative;
    width: 95%;
    height: 54px;
    margin: 0px auto;
    border-top: 2px solid #262626;
    padding-bottom: 24px;
}

.footer-social-icon-wrapper {
    margin-top: 18px;
    float: left;
}

.footer-social-icon-wrapper li {
    float: left;
    color: gray;
    margin: 0px 10px 0px 0px;
}

.icon-link {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 0px;
}

.icon-link-facebook {
    background: url('images/icons/social-icons-sprites.png') -10px -10px;
}

.icon-link-pinterest {
    background: url('images/icons/social-icons-sprites.png') -62px -10px;
}

.icon-link-google {
    background: url('images/icons/social-icons-sprites.png') -62px -62px;
}

.icon-link-twitter {
    background: url('images/icons/social-icons-sprites.png') -10px -62px;
}

.icon-link-youtube {
    background: url('images/icons/social-icons-sprites.png') -114px -10px;
}

.footer-map {
    text-align: right;
    padding: 15px 40px 0px 0px;
}

.footer-map a {
    color: black;
    text-decoration: none;
}

.footer-map a:hover {
    text-decoration: underline;
}
/*------------- end footer -------------*/


/*------------- all cars -------------*/

.dark-top-nav-bg {
    background-color: #262626;
}

.model-wrapper {
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px 20px 0px;
}

.coming-soon {
    opacity: 0.5;
}

.model {
    display: inline-block;
    margin: 10px;
    background-color: white;
}

.model:hover:not(.coming-soon) {
    box-shadow: 0px 0px 4px 4px #cccccc;
}

.model figure {
    margin: 0px;
}

.model-name {
    border-top: 1px solid black;
    padding-top: 5px;
    margin: 0px 10px;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}

.model-price {
    color: gray;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
    margin: 0px;
}
/*------------- end all cars -------------*/

/*------------- accessories -------------*/
.accessories-wrapper {
    max-width: 1080px;
    margin: 0px auto;
    padding: 0px 15px;
}

.current-model-img {
    float: left;
    margin: 0px 40px 30px 0px;
}

.accessories-text {
    text-indent: 50px;
    text-align: justify;
}

.select-model {
    width: 160px;
    height: 30px;
    margin-bottom: 15px;
}

.accessories-table-wrapper {
    overflow-x: auto;
    clear: both;
}

.accessories-table {
    max-width: 1000px;
    margin: 0px auto;
    border-collapse: collapse;
}

.accessories-product-img {
    width: 200px;
    height: auto;
}

.accessories-table td {
    border-top: 1px solid black;
    padding: 10px;
    vertical-align: top;
}

.accessories-table td:last-child {
    text-align: center;
    width: 90px;
}

.accessories-table td:nth-last-child(2) {
    width: 140px;
    text-align: center;
}

/*------------- end accessories -------------*/

/*------------- contact -------------*/
.contact-wrapper {
    max-width: 960px;
    margin: 0px auto;
    padding: 30px 15px;
}

.contact-box {
    width: 33.33%;
    float: left;
}

.contact-title {
    font-weight: bold;
}

.contact-text {
    line-height: 24px;
}

.dealer-img {
    max-width: 100%;
    height: auto;
    padding: 30px 0px 20px 0px;
}

.map {
    width: 100%;
    height: 500px;
}
/*------------- end contact -------------*/

/*------------- index -------------*/
.body-dark-bg {
    background-color: #2F2F2F;
}

.btn-details {
    position: absolute;
    bottom: 6%;
    left: 12%;
    background-color: rgba(106, 111, 106, 0.4);
    color: white;
    padding: 8px 20px;
    border: 1px solid white;
    font-size: 1.25vw;
}

.btn-details:hover {
    background-color: transparent;
}

.slideshow-container {
    margin-bottom: 30px;
}

.slides-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

.slide-prev, .slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
         -o-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    height: 50px;
    line-height: 50px;
    width: auto;
    padding: 0px 14px;
    color: white;
    font-size: 33px;
    -webkit-transition: 0.6s ease;
         -o-transition: 0.6s ease;
            transition: 0.6s ease;
}

.slide-next {
    right: 0;
    left: auto;
}

.slide-prev:hover, .slide-next:hover {
    background-color: #2F2F2F;
    color: white;
}

.slide-list {
    position: relative;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 0px;
}

.slide {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0px 3px;
    background-color: transparent;
    border: 1px solid white;
    display: inline-block;
    -webkit-transform: skewX(-27deg);
        -ms-transform: skewX(-27deg);
            transform: skewX(-27deg);
}

.text span:hover {
    background-color: white;
}

.current-slide {
    width: 10px;
    height: 10px;
    background-color: white !important;
}

.fade {
    -webkit-animation-name: fade;
         -o-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
         -o-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.white-footer-line {
    border-top: 2px solid white;
}

.white-footer-map a {
    color: white;
}
/*------------- end index -------------*/


@media only screen and (max-width: 992px) {
    .top-nav {
        background-color: #262626;
    }

    .logo {
        margin: 0px 0px 0px 10px;
    }

    .top-menu-icon-wrapper {
        float: right;
        display: block;
    }

    .top-nav-list-responsive {
        display: none;
    }

    .top-nav-list {
        float: none;
    }

    .top-nav-list li {
        display: block;
        width: 100%;
        background-color: #262626;
    }

    .nav-link {
        line-height: 40px;
        text-align: center;
        padding: 0px;
    }

    .bg-image {
        position: relative;
    }

    .bg-image::after {
        display: none;
    }

    .tab-wrapper {
        margin-top: 0px;
    }

    .tab-links {
        padding: 0px;
    }

    .tab-links li {
        float: none;
        width: 100%;
    }

    .tab-content-wrapper {
        margin: 0px;
    }

    .video-wrapper {
        width: 100%;
        float: none;
        padding: 0px;
    }

    .contact-box {
        width: 100%;
        float: none;
    }
}